<h1><%= @album.title %></h1>
band: <%= @album.band.name %>

<br><br>

<label for="trackslist">TRACKS</label>
<table id="trackslist">
  <tr>
    <th>#</th>
    <th>Song</th>
    <th>Length</th>
    <th>type</th>
  </tr>
    <% @album.tracks.each_with_index do |track, i| %>
      <tr><%= render "track_tr", track: track, num: i %></tr>
    <% end %>
</table>

<%= link_to "back to band", band_url(@album.band.id) %>
<%= link_to "Edit Album", edit_album_url(@album) %>
