<h1><%= @band.name %></h1>

<table>
  <tr>
    <th>Attribute</th>
    <th>Value</th>
  </tr>
  <% @band.albums.each do |album| %>
    <tr>
      <li><%= link_to album.name, band_url(band) %></li>
    </tr>
  <% end %>
</table>


<% if logged_in? %>
  <%= link_to "back to bands", bands_url %>
  <%= link_to "add album", new_band_album_url %>
  <%= link_to "add tracks", new_album_track_url %>
<% end %>
